<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2rem","bottom":"4rem","left":"2rem","right":"2rem"}}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group" style="padding-top:2rem;padding-right:2rem;padding-bottom:4rem;padding-left:2rem">

	<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"x-large","style":{"spacing":{"margin":{"bottom":"2rem"}}}} -->
	<h1 class="wp-block-heading has-text-align-center has-x-large-font-size" style="margin-bottom:2rem">Order Confirmed</h1>
	<!-- /wp:heading -->

	<!-- wp:woocommerce/order-confirmation-status /-->
	<!-- wp:woocommerce/order-confirmation-summary /-->
	<!-- wp:woocommerce/order-confirmation-totals-wrapper -->
		<!-- wp:heading {"level":2,"fontSize":"large","style":{"spacing":{"margin":{"top":"2rem","bottom":"1rem"}}}} -->
		<h2 class="wp-block-heading has-large-font-size" style="margin-top:2rem;margin-bottom:1rem">Order Details</h2>
		<!-- /wp:heading -->
		<!-- wp:woocommerce/order-confirmation-totals /-->
	<!-- /wp:woocommerce/order-confirmation-totals-wrapper -->
	<!-- wp:woocommerce/order-confirmation-downloads-wrapper -->
		<!-- wp:heading {"level":2,"fontSize":"large","style":{"spacing":{"margin":{"top":"2rem","bottom":"1rem"}}}} -->
		<h2 class="wp-block-heading has-large-font-size" style="margin-top:2rem;margin-bottom:1rem">Downloads</h2>
		<!-- /wp:heading -->
		<!-- wp:woocommerce/order-confirmation-downloads /-->
	<!-- /wp:woocommerce/order-confirmation-downloads-wrapper -->
	<!-- wp:woocommerce/order-confirmation-shipping-wrapper -->
		<!-- wp:heading {"level":2,"fontSize":"large","style":{"spacing":{"margin":{"top":"2rem","bottom":"1rem"}}}} -->
		<h2 class="wp-block-heading has-large-font-size" style="margin-top:2rem;margin-bottom:1rem">Shipping Address</h2>
		<!-- /wp:heading -->
		<!-- wp:woocommerce/order-confirmation-shipping-address /-->
	<!-- /wp:woocommerce/order-confirmation-shipping-wrapper -->
	<!-- wp:woocommerce/order-confirmation-billing-wrapper -->
		<!-- wp:heading {"level":2,"fontSize":"large","style":{"spacing":{"margin":{"top":"2rem","bottom":"1rem"}}}} -->
		<h2 class="wp-block-heading has-large-font-size" style="margin-top:2rem;margin-bottom:1rem">Billing Address</h2>
		<!-- /wp:heading -->
		<!-- wp:woocommerce/order-confirmation-billing-address /-->
	<!-- /wp:woocommerce/order-confirmation-billing-wrapper -->
	<!-- wp:woocommerce/order-confirmation-additional-information /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
